@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/lxw4mej.css");

@font-face {
    font-family: "bely-display";
    src: url("https://use.typekit.net/af/dd002d/00000000000000007735b06a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/dd002d/00000000000000007735b06a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/dd002d/00000000000000007735b06a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    /* color: rgb(var(--foreground-rgb)); */
    color: white;
    /* background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb)); */
    background: #193f49;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.main {
    background-color: #f17e2b;
    max-width: 600px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.container {
    padding: 1.6rem 1rem;
    margin-bottom: 3.6rem;
}

.noMarginBottom {
    margin-bottom: 0;
}

.centerer {
    display: grid;
    place-items: center;
    height: calc(100% - 150px);
    gap: 1.6rem;
}

h1 {
    font-size: 3.6rem;
    letter-spacing: -3px;
    margin: 0;
    color: #193f49;
    text-transform: uppercase;
    text-align: right;
    display: inline-block;
    margin-left: auto;
    line-height: 1;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}

.header {
    background-color: #193f49;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 60px 1fr;
    align-items: center;
    min-height: 160px;
}

.navFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .navFooterFixed {
        position: fixed;
        background: linear-gradient(rgba(0, 0, 0, 0), #f17e2b, #f17e2b);
    }
}

.home-content-button,
.Link {
    font-size: 1.2rem;
    flex-grow: 1;
    background-color: #193f49;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 10px;
    border-bottom: 1px solid black;
}

.home-content-button {
    background-color: #f17e2b;
}

.convo,
.light {
    padding-bottom: 3.6rem;
}

.H3 {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}

.convo h3 {
    font-size: 1.6rem;
}

.convo h4 {
    margin-top: 2rem;
    text-align: right;
    font-size: 2rem;
    letter-spacing: -0.05rem;
    line-height: 1.1;
    color: #193f49;
}

.light h2 {
    max-width: 18ch;
}

.light h3 {
    font-size: 1.2rem;
    text-align: right;
    max-width: 22ch;
    margin-top: 2rem;
    margin-left: auto;
}

.supportText {
    text-align: center;
}

.supportContainer {
    display: grid;
    gap: 1.2rem;
}

.supportWrapper {
    display: grid;
    gap: 1rem;
}

.supportContact {
    background: rgba(26, 62, 73, 0.5);
    border-radius: 0.8rem;
    padding: 0.8rem 1rem;
    display: grid;
    gap: 0.3rem;
    border-top: 1px solid #f17e2b;
    border-bottom: 1px solid #193f49;
}

.supportButtons {
    display: flex;
    gap: 0.3rem;
    margin-top: 0.5rem;
}

.supportButton {
    font-size: 1rem;
}

.supportCall {
    background: #f17e2b;
}

.supportCopy {
    font-size: 0.8rem;
}
