@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/lxw4mej.css");

@font-face {
    font-family: "bely-display";
    src: url("https://use.typekit.net/af/dd002d/00000000000000007735b06a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/dd002d/00000000000000007735b06a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/dd002d/00000000000000007735b06a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));

    min-height: 100vh;
    display: grid;
    place-items: center;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.main {
    background-color: #f17e2b;
    max-width: 600px;
    width: 100%;
    /* height: calc(100vh - 2rem); */
    position: relative;
    overflow-x: hidden;
}

.container {
    padding: 1.6rem;
    margin-bottom: 45px;
}

.centerer {
    display: grid;
    place-items: center;
    height: calc(100% - 150px);
    gap: 2rem;
}

h1 {
    font-family: "bely-display";
    font-size: 4rem;
    margin: 0;
    color: #193f49;
    text-transform: uppercase;
    text-align: right;
    display: inline-block;
    margin-left: auto;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
}

.header {
    background-color: #193f49;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 60px 1fr;
    align-items: center;
    min-height: 160px;
}

.home-content p {
    margin-bottom: 1rem !important;
}

.navFooter {
    position: absolute;
    left: 1rem;
    bottom: 1.2rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Link {
    font-size: 1.2rem;
    font-weight: 700;
    flex-grow: 1;
    background-color: #193f49;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 100px;
    box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.3),
        inset 0 -5px 10px rgba(0, 0, 0, 0.6);
}

.convo,
.light {
    padding-bottom: 4rem;
}

.convo h2 {
    margin-top: 2rem;
}

.convo h3 {
    font-size: 1.6rem;
}

.convo h4 {
    text-align: right;
    font-size: 3rem;
    line-height: 1.1;
    font-family: "bely-display";
    color: #193f49;
}

.light h2 {
    max-width: 10ch;
}

.light h3 {
    font-size: 1.2rem;
    text-align: right;
    max-width: 22ch;
    margin-top: 2rem;
    margin-left: auto;
}

.supportText {
    text-align: center;
}
