.nav {
    background-color: #193f49;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    height: 75px;
}

.navDrawer {
    height: calc(100% - 75px);
    position: absolute;
    background-color: #193f49;
    inset: 75px 0 0 0;
    transition: transform 269ms ease-in-out;
    transform: translateX(-100%);
    padding: 0 1rem;
    max-height: 100vh;

    z-index: 6;
    overflow: hidden;
}

.navOpen {
    transform: translateX(0);
}

.navLink {
    user-select: none;
    font-size: 2.2rem;
    text-transform: uppercase;
    transition: color 400ms;
}

.navLink:hover {
    color: #f17e2b;
}

.navLinkFocused {
    pointer-events: none;
    color: #f17e2b;
}

.navImageHide {
    display: none;
}

.navImage {
    position: absolute;
    scale: 1.4;
    bottom: -200px;
    left: 0;
    right: 0;
    -webkit-animation: spin 15s linear infinite;
    -moz-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.homeContentModal {
    position: absolute;
    inset: 0;
    background-color: rgba(26, 62, 73, 0.93);
    z-index: 777;
    overflow-y: hidden;
}

.homeContentModalClosed {
    display: none;
}

.homeContentWrapper {
    display: grid;
    place-items: center;
    max-height: 100vh;
    height: 100%;
}

.homeContent {
    font-weight: 700;
    margin: 3rem;
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
}

@media (min-width: 768px) {
    .nav {
        border-top: 1px solid #f17e2b;
        border-left: 1px solid #f17e2b;
        border-right: 1px solid #f17e2b;
        border-radius: 1rem 1rem 0 0;
    }

    .navDrawer {
        border-left: 1px solid #f17e2b;
        border-right: 1px solid #f17e2b;
        border-bottom: 1px solid #f17e2b;
        border-radius: 0 0 1rem 1rem;
    }
}
